<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <script src="model.js"></script>
    <script src="controller.js"></script>
</head>

<body ng-app="myapp">
    <div ng-controller="myctrl">
        <input type="text" ng-model="pr">
        <input type="text" ng-model="qt">
        <button ng-click="compute()">click me</button>
        <h1>result is {{result}}</h1>
    </div>
</body>

</html>
