<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="lib/bower_components/angular/angular.min.js"></script>
	<script src="js/app2.js"></script>
	<script src="js/app.js"></script>
	<script src="js/filter.js"></script>
	<script src="js/controller.js"></script>
	
</head>
<body ng-app="myapp" ng-controller="myctrl">
<input type="text" ng-model="name" ng-init="name=''">
<button ng-click="call()">Call Me</button>
	{{fullname|initcap:'A':'B'}}  
	{{fullname|repeat:1:10}} 
<!--
{{myresult}}
-->
<!-- {{myresult2}}
-->
</body>
</html>